html{
    width: 1264px;
}
body{
    font-family: Arial,BoldMT ,san-serif;
    margin:0 auto;
    width: 940px;
    background-color: #edf2c5;
    font-size: 14pt;
    color: #ffffff;
    display: block;
  }
header{
    /* margin-top: 53px; */
    margin-top: 53px;
    margin-bottom: 8px;
    display: inline-block;
}
#title{
    display: inline-block;
    width: 271px;
    height: 42px;
    font-weight: bold;
    font-size: 42px;
    color: #778a50;
}
.btn_header{
    display: inline-block;
    margin-left: 438px;
}
.btn_header_img{
    display: inline-block;
    border-right: 1px #778250 solid;
}
.btn_header_img a img{
    margin-right: 10px;
}  
.btn_header_text{
    display: inline-block;  
} 
.btn_header_text a{
    font-size: 14px;
    text-decoration: none;
    height: 25px;
    margin-left: 10px;
    padding: 5px;
    border: 1px #778a50 solid;
    border-radius: 3px;
    color:#778a50;
    display: inline-block;
}
.title_block{
    background-color: #778a50;
    border-radius: 3px;
}
#login{
    width: 60px;
} 
#join{
    width: 50px;
}
nav{
    width: 940px;
    height: 44px;
}  
.nav_li{
    font-family: Arial Black;
    font-size: 16px;
    color: #edf2c5;
    padding: 15px 16px;
    display: inline-block;
}
.nav_li a{
    font-weight: bold;
    color: #edf2c5;
    text-decoration:none;
}
#block_img_center{
    display: block;
    margin-top: 20px;
}
  
#block_under{
    margin-top: 30px;
    display: flex;
}
  
#vagetables{
    width: 445px;
    height: 200px;
}
  
#vagetables_title{
    height: 45px;
    font-weight: bold;
    color: #edf2c5;
    padding: 14px 30px;
}
  
#vagetables_img{
    margin-top: 15px;
    display: flex;
    justify-content:space-between;
}
  
#contact{
    width: 445px;
    height: 200px;
    margin-left: 40px;
}
  
#contact_title{
    height: 45px;
    font-weight: bold;
    color: #edf2c5;
    padding: 14px 30px;
}
  
#contact-p{
    margin-top: 15px;
    width: 445px;
    height: 140px;  
    background-color: #f7fbda;
    border-radius: 1px;
    color:#7d7d7d;
    font-size: 12px;
    line-height: 1.33em;
}
  
.contact_bar{
    display: block;
    height: 70px;
    width: 414px;
    margin-left: 15px;
    padding: 16px 0;
}

footer{
    margin-top: 35px;
    height:60px;
    font-size: 12px;
    color: #edf2c5;
    padding-top: 24px;
    text-align: center;
}